doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title BunDle Word Game
        link(rel="stylesheet", href="style.css") 
    body 
        img(src="bunDleBun.png", alt="image of a sesame bun")
        h1 BunDle Word Game
        h2 Welcome to BunDle!! 
        h3 Game Rules: 
        p BunDle is an awesome game that tests your word making skills!  The computer will select and display a random word. Rearrange the letters to create other words with 4 or more letters. Every correct word adds a point to your score.  The number of points possible depends on the number of combinations that the computer found. If you guess them all, you win!  
        h4 Can YOU BunDle?
        div
            a(href= "/play") 
              button Let's Play!
            

    