doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title BunDle Word Game
        link(rel="stylesheet", href="style.css") 
    body 
        img(src="bunDleBunBurned.png", alt="image of a burned  bun")
        h1 BunDle Word Game
        br
        h2 You got burned!!!
    #score-section
            p Possible Points:
            #showpointspossible 
            p Your Score:
            #showpoints  
        p Thanks for playing!! 
    div 
        a(href="/")
         button Try Again?
    script(src="myGameScript.js")