doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title BunDle Word Game
        link(rel="stylesheet", href="style.css") 
    body 
        img(src="bunDleBun.png", alt="image of a sesame bun")
        h1 BunDle Word Game
        h3 How many words that are 4 letters or more can you make? 
        #score-section
            p Possible Points:
            #showpointspossible 
            p Your Score:
            #showpoints 
        #computer-word 
            label(for="computerword")
            h2 Computer Generated Word: 
            h3#computerWord
        div 
            label(for = "userword") Enter your Guess:       
            input(type= "text" name = "userword" id="userword" placeholder="Enter a word") 
            br
            br
            #buttons 
                button(type="submit" onclick = "playersWords()") Submit Guess
        div
            h4 Words Found: 
            #playersGuess 
            //- how do I append multiple userwords here so that they all show and stay until the user quits or resets? 
            //- probably have to create another array and push the correct answers into it
        div
            a(href= "/lose")
                button Quit?
        script(src="myGameScript.js")
