img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5rem;
}

h1, h2, h3, h4 {
    text-align: center;
    /* color: darkgrey; */
}
div {
    text-align: center;
}
#score-section {
    width: 200px;
    border: 7px solid black;
    border-radius: 7px;
    margin: auto;
    padding-bottom: 15px;
}

#playersGuess {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border-radius: 7px;
    padding: 5px;
    width: 500px;
    height: 300px;
    margin-bottom: 15px;
    border: 7px solid black;
}
#playersGuess>p{
    padding-right: 10px; 
}

#img>img{
    width: 15rem;
    margin-bottom: 25px;
}