img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

h1, h2, h3, h4 {
    text-align: center;
    /* color: darkgrey; */
}
div {
    text-align: center;
}
#score-section {
    width: 200px;
    border: 7px solid black;
    border-radius: 7px;;
    margin: auto;
}